header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: end;
  border-bottom: .3rem solid darkgrey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  grid-column: 1/span 2;
  margin-left: 1rem;
  color: orange;
  font-size: 42px;
  background: papayawhip;
}

nav {
  grid-column: 5/ span 2;
}

nav a {
  text-decoration: none;
  color: darkgrey;
  font-size: 20px;
}
